<h1 class='title'>{{0.name}}</h1>
<div class='country_box'>
    <div class='country_list-box'>
        <ul class='country_select'>
            <li class='country_item'><b>Capital:</b><span class='country_item-value'>{{0.capital}}</span></li>
            <li class='country_item'><b>Population:</b><span class='country_item-value'>{{0.population}}</span></li>
            <li class='country_item'><b>Languages:</b>
                <ul class='languages_list'>
                    {{#each 0.languages}}
                    <li class='languages_item'>{{this.name}}</li>
                    {{/each}}
                </ul>
            </li>
        </ul>
    </div>
    <div class='country_img-box'>
        <img class='country_img' width='350' height='200' src={{0.flags.png}} alt='country_flag' />
    </div>
</div>